<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Weather Journal</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>

<body>
  <div id="app">
    <div class="holder headline">
      Theresa's Trip Planner
    </div>
    <div class="sidebar">
      <div class="holder zip">
        <label for="zip">Next travel destination</label>
        <input type="text" id="zip" placeholder="Enter your next travel destination here" required minlength="2">
      </div>
      <div class="holder feel">
        <label for="tripstart">When does your trip start?</label>
        <input type='date' id="tripstart" required>
        <label for="tripend">And when does it end?</label>
        <input type='date' id="tripend">
        <!-- <textarea class="myInput" id="feelings" placeholder="Enter your feelings here" rows="9" cols="100%"></textarea> -->
        <!-- <input type="text" id="feelings" placeholder="Enter your feelings here" rows="9" cols="50"> -->
      </div>
      <button id="generate" type="submit"> Add trip </button>
    </div>
    <div class="holder entry">
      <div class="title">Your trips are displayed here:</div>
      <div id="entryHolder">
        <div id="icon"></div>
        <div id="desc"></div>
        <div id="name"></div>
        <div id="temp"></div>
        <div id="minTemp"></div>
        <div id="maxTemp"></div>
        <div id="date"></div>
        <div id="countdown"></div>
        <div id="destinationImage"></div>
      </div>
    </div>
    <div id="footer box">
      <footer>
        Copyright 2021. Image source from Theresa. Content from https://openweathermap.org
      </footer>
    </div>
  </div>
  <!-- <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
   </script> -->

</body>

</html>