body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display: grid;
    grid-auto-rows: auto auto auto 1fr;
    grid-template-columns: auto;
    grid-template-areas: 
    "hd"
    "sd"
    "main"
    "ft";
    background-image: url("/src/client/media/travel.png");
    background-size: auto;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    width: 100%;
}


@media(min-width:800px){
    #entryHolder{
        display: grid;
        grid-template-areas: 
        "ic ic ic na na na dt"
        "ic ic ic tc tc ct ct"
        "de de de tf tf ct ct";
        gap: 20px;
        background-color: rgba(0,0,0,0.25);
        border-radius: 5%;
        padding: 25px;
        width: 100%;
    }
    #date{
        text-align: right;
    }
    #content{
        text-align: right;
    }
    #name{
        text-align: left;
    }
}